<div class="container">
    <div class="card">
        <div class="card-header">
            <H3>Hello User</H3>
        </div>
        <div class="card-body">
            <div class="row ">
                <div class="col-md-6">
                    <form (ngSubmit)="login()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input [(ngModel)]="user.UserName" name="user" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input [(ngModel)]="user.Password" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>